@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Fredoka:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --pale-orange: hsl(33, 100%, 98%);
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--cream);
    
} 

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* .dashboard {
    background-color: var(--pale-orange);
    padding: 1rem;
    border-radius: 0.625rem;
    margin-bottom: 2rem; 
} */

.title {
    font-size: 0.8rem;
    margin-bottom: 6px;
}

.total-amount {
    font-weight: 700;
    font-size: 1.4em;
}

.logo {
    width: 60px;
}

.top-container {
    width: 35%;
    display: flex;
    flex-direction: row;
    color: white; 
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;

    background-color: var(--soft-red);
    border: 1px solid var(--soft-red);
    padding: 20px;
    border-radius: 15px;
}

.main-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-items: space-between;
    align-items: center;

    background-color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 15px; 
}

.main-title {
    width: 90%;
    text-align: start;
    color: var(--dark-brown);
    
}

.chart {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;

    text-align: center;
    border-bottom: 0.5px solid rgba(184, 184, 184, 0.8);
    padding-bottom: 50px;
    margin-top: 50px;
}

.bar {
    width: 40px;
    border: 1px solid var(--soft-red);
    border-radius: 7px;
    background-color: var(--soft-red);
    cursor: pointer;
}

.bar1 {
    height: 35px;
}

.bar2 {
    height: 130px;
}

.bar3 {
    height: 200px;
    background-color: var(--cyan);
    border: 1px solid var(--cyan);
}

.bar4 {
    height: 100px;
}

.bar5 {
    height: 50px;
}

.bar6 {
    height: 170px;
}

.bar7 {
    height: 60px;
}

p {
    color: rgba(146, 146, 146, 0.8);
}

.day {
    font-size: 0.7em;
}


.stats{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.total-month {
    font-size: 1.9rem;
    font-weight: bolder;
    color: var(--dark-brown);
    
}

.percentage {
    font-size: 0.9rem;
    font-weight: bolder;
    color: var(--dark-brown);
    text-align: right;
    margin-top: 18px;
}




/* .balance-div

.title

.total-amount */

